.hero__image-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: $spacing-200;
  flex-basis: 50%;

  @include tablet {
    flex-basis: 25%;
  }

  @include desktop {
    flex-basis: 25%;
  }
}
