@use "../../_mixins" as *;
@use "../../_variables" as *;

.hero__image-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  width: 100%;
  gap: $spacing-200;

  @include tablet {
    grid-template: 1fr / repeat(4, 1fr);
  }

  @include desktop {
    grid-template: 1fr / repeat(4, 1fr);
  }
}
