.content-header__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $spacing-300;

  @include tablet {
    gap: $spacing-300;
  }

  @include desktop {
    gap: $spacing-400;
    order: 2;
  }
}
