@use "../../_mixins" as *;
@use "../../_variables" as *;

.content-header__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 16rem;

  @include responsive("tablet", "desktop") {
    height: 100%;
  }

  @include desktop {
    &:nth-of-type(1) {
      order: 1;
    }
    &:nth-of-type(2) {
      order: 3;
    }
  }
}
