@use "../../_mixins" as *;
@use "../../_variables" as *;

.content-header__buttons-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-200;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    flex-basis: 50%;
  }

  @include desktop {
    flex-direction: row;
    flex-basis: 50%;
  }
}
