.content-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $spacing-600;
  padding: $spacing-800 $spacing-400 $spacing-400 $spacing-400;

  @include tablet {
    gap: $spacing-900;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $spacing-400;
  }
}
