@use "../_mixins" as *;
@use "../_variables" as *;

.content-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-600;
  padding: $spacing-400 $spacing-450 $spacing-800 $spacing-450;

  @include tablet {
    gap: $spacing-900;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-400;
  }
}
