.footer__hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  gap: $spacing-800;
  padding: $spacing-800 $spacing-400;
  text-align: center;
  background-image: url("../../../../../public/images/mobile/image-footer.jpg");
  background-size: cover;
  background-color: $color-cyan-700;

  @include tablet {
    flex-direction: row;
  }
}
