@use "../../_mixins" as *;
@use "../../_variables" as *;

.footer__hero {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, $color-cyan-800, $color-cyan-800),
    url("../images/tablet/image-footer.jpg");
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  padding: $spacing-800 $spacing-400;

  @include desktop {
    padding: $spacing-1400 $spacing-1000;
  }
}
