// Colors
$color-cyan-300: hsl(192, 90%, 77%);
$color-cyan-600: hsl(192, 37%, 48%);
$color-cyan-700: hsla(192, 37%, 48%, 50%);
$color-purple-300: hsl(268, 100%, 86%);
$color-purple-600: hsl(268, 34%, 53%);
$color-slate-300: hsl(240, 18%, 85%);
$color-slate-600: hsl(240, 10%, 57%);
$color-slate-900: hsl(240, 21%, 20%);
$color-white: hsl(0, 0%, 98%);

// Define spacing variables
$spacing-50: 0.4rem;
$spacing-100: 0.8rem;
$spacing-200: 1.6rem;
$spacing-300: 2.4rem;
$spacing-400: 3.2rem;
$spacing-500: 4rem;
$spacing-600: 4.8rem;
$spacing-700: 5.6rem;
$spacing-800: 6.4rem;
$spacing-900: 7.2rem;
$spacing-1000: 8rem;
$spacing-1400: 11.2rem;

// Media queries
$breakpoint-mobile: 600px;
$breakpoint-tablet: 1024px;
