h1 {
  @include text-preset-1;
  color: $color-slate-900;
}

.description {
  @include text-preset-4;
  color: $color-slate-600;
}

button {
  @include text-preset-5;
  padding: $spacing-200 $spacing-500;
}

h2 {
  @include text-preset-2;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $spacing-800;
  padding: $spacing-400 $spacing-400 $spacing-800 $spacing-400;
  background-color: $color-white;
}

.button-download {
  background-color: $color-cyan-600;
}
