@use "../../_mixins" as *;
@use "../../_variables" as *;

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-400;
  height: 100%;

  @include responsive("tablet", "desktop") {
    max-width: 54.4rem;
  }
}
